h1 {
    color: #da5b21;
    font-size: 6em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 5px 5px 2px black;
}

main {
    background-image: url('../images/gazebo-presentation.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section p {
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 45%;
    font-size: 1.8em;
    text-align: justify center;
    margin-top: 60px;
}

.btn-index {
    display: inline-block;
    justify-content: end;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #da5b21;
    background-position: cover;
    border-radius: 15px 0 15px 0;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    align-self: end;
    box-shadow: 5px 5px 5px black;
}
.btn-index:hover {
    text-decoration: none;
    box-shadow: 10px 10px 10px black;
}
 .btn-index:active {
    box-shadow: none;
 }