h1 {
    color: #bd8165;
    font-size: 6em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 20px;
    text-shadow: 5px 5px 2px black;
}

.presentation {
    color: #bd8165;
    display: flex;
    justify-content: center;
    width: 100%;
}

.presentation p {
    width: 50%;
    font-size: 1.5em;
    color: #d3af97;
    margin-left: 50px;
    margin-right: 50px;
}

.gazebo-index {
    width: 50%;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 2px solid black;
}

.btn-index {
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 10px 20px;
    font-size: 1.5em;
    color: #516e6d;
    background-color: #bd8165;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.btn-index:hover {
    text-decoration: none;
    opacity: 0.7;
}