h1 {
    color: #bd8165;
    font-size: 6em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 20px;
    text-shadow: 5px 5px 2px black;
}

.presentation {
    color: #bd8165;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

main div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin-top: 50px;
    margin-bottom: 50px;
}

.presentation p {
    font-size: 1.5em;
    color: #d3af97;
    width: 80%;
}

.gazebo-index {
    width: 100%;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 2px solid black;
}

.btn-index {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #bd8165;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;;
}
.btn-index:hover {
    text-decoration: none;
    opacity: 0.7;
}