
*{
    margin: 0;
}

body {
    background-color: #516e6d;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
}

a:hover {
    text-decoration: underline;
}

.facebook {
    width: 50px;
    margin-right: 20px;
}

.facebook:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

header,
footer {
    background-color: white;
}

.feelwood {
    width: 200px;
    margin-left: 20px;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
  margin-right: 30px;
}