
*{
    margin: 0;
}

main {
    background-color: #806D40;
}

.facebook {
    width: 50px;
    margin: auto
}

header,
footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.feelwood {
    width: 200px;
    display: flex;
    justify-content: center;
}